.profile {
    display: flex;
    height: 100vh;
    margin: 20px 20px 0 20px;
}

.sidebar {
    flex: 0.2;
    background-image: linear-gradient(to top, #6d2ec8, #375cc8);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 20px;
}

.sidebar__content {
    margin-top: 100%;
}

.sidebar__content > p {
    text-align: left;
    padding: 10px;
}

.sidebar__content > hr {
    margin-left: 10px;
}

.user__details__section {
    flex: 0.8;
    padding: 0 30px;
}

.user__details__section > hr {
    left: 330px;
    margin: 0 20px;
    position: absolute;
    width: 70%;
}

.user__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user__header__left {
    flex: 0.2;
    color: #545454;
}

.user__header__right {
    align-items: center;
    display: flex;
    flex: 0.8;
    justify-content: flex-end;
}

.user__header__right > p {
    padding: 0 10px;
}
